.shine {
    border: 0.5px solid rgb(209, 207, 207);
    background: rgba(255, 255, 255, 0.1); /* 半透明白色背景 */
border-radius: 20px;         /* 圆角 */
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), /* 外部阴影 */
              0 0 30px rgba(255, 255, 255, 0.5); /* 内部发光效果 */
}

.pretty-btn {
    width: 80px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  border: 1px solid rgb(200, 197, 197);
  font-size: 14px;
  border-radius: 20px;
  color: white;
}