:root {
  --shine-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), /* 外部阴影 */
  0 0 30px rgba(255, 255, 255, 0.8); /* 内部发光效果 */
  --tranparent-background:rgba(255, 255, 255, 0.1);
  --action-back-color:linear-gradient(to left,rgba(239, 239, 187, 0.7) 0.05%,rgba(212, 211, 221, 0.5) 99.95%);
  --action-hover-color:linear-gradient(to left,rgba(183, 183, 167, 0.8) 0.05%,rgb(120, 119, 132,0.7) 99.95%);
  --theme-color:linear-gradient(to top,#e8cbc0 0.1%,#636fa4 99.9%);

  
}

.shine {
    border: 0.5px solid rgb(209, 207, 207);
    background: rgba(255, 255, 255, 0.1); /* 半透明白色背景 */
border-radius: 20px;         /* 圆角 */
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), /* 外部阴影 */
              0 0 30px rgba(255, 255, 255, 0.5); /* 内部发光效果 */
}

.pretty-btn {
    /* width: 80px; */
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  outline: none;
  background: none;
  border: 1px solid rgb(200, 197, 197);
  font-size: 14px;
  border-radius: 20px;
  color: white;
}

.clear-btn-wrap {
  width: 60%;
  display: flex;
  justify-content: center;
}

.no-btn {
  margin-right: 50px;
}

.dialog-input {
    border: none;
    outline: none;
    width: 240px;
    height: 40px;
    background: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
}

/* div加上了contenteditable="true" 属性后，设为可编辑文本框的样式： */
.div-edit {
      width: 93%;
      min-height: 100px;
      padding: 20px;
      text-align: left;
      box-sizing: border-box;
      line-height: 1.42;
      outline: none;
      tab-size: 4;
      white-space: pre-wrap;
      word-wrap: break-word;
}

/* 编辑框聚焦时显示的样式 */
.div-edit-focus {
         border-color: rgba(141, 126, 163, 0.459);
        box-shadow: 0 0 5px rgba(141, 126, 163, 0.459);
        outline:none;
}

/* 任务栏的图标的定位 */
.detail-icon {
  font-size: 23px;
  position: absolute;
  left: 2%;
}

/* 任务的圆圈*/
.task-tick {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 2%;
  border-radius: 50%;
  border: 3px solid rgb(254, 246, 246);
  background-color: transparent;
}